
@{
    ViewBag.Title = "Menus";
}

@section styles
{
    <link href="~/Content/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet" />
}

<div class="box box-info">
    <div class="box-header clearfix text-center">
        <div class="pull-right">
            <a class="btn btn-primary" href="@Url.Action("Create")">
                <span class="fa fa-plus"></span>
            </a>
        </div>
        <h4 class="box-title">Menus Cadastrados</h4>
    </div>
    <div class="box-body">
        @Html.Hidden("Url", Url.Action("Search"))
        <table></table>
    </div>
</div>

@section scripts
{
    <script src="~/Content/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/dist/locale/bootstrap-table-pt-BR.js"></script>
    <script src="~/Scripts/menu/index.js"></script>
}
