<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Menu Dinâmico
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Meu .NET</a>.</strong> Todos os direitos reservados
</footer>

